$primary-color: #FAB91C;
$secondary-color: #f9a825;
$background: #fff7e4;


body {
    background-color:$background;

}

.Home {
    background-color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 650px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 15px 15px 100px 3px  rgba(158, 114, 19, 0.54);
    margin: auto;
    margin-top: 200px;
    h1{
        color: $background;
        font-size: 50px;
        margin-bottom: 40px;
    }
    div {
       align-items: flex-start;
       margin-right: 100px;

    h3{
        color: $secondary-color;
        font-weight: 400;
    }
    Button {
        background-color: $secondary-color;
        color: $background;


    }
    }
}

.hidden{
    display: none;
}